name: Gitleaks Scan

on:
  push:
    branches:
      - main
      - 'fix/**'
  pull_request:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Gitleaks
        run: |
          curl -sSfL https://raw.githubusercontent.com/zricethezav/gitleaks/master/install.sh | sh

      - name: Run Gitleaks scan
        run: gitleaks detect --source . --no-git --exit-code 1
