name: Trivy Scan

on:
  push:
    branches:
      - main
      - 'fix/**'
  pull_request:

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@v2
        with:
          scan-type: fs
          severity: MEDIUM,HIGH,CRITICAL
          exit-code: 1
