name: Trivy Scan

on:
  push:
    branches:
      - main
      - 'fix/**'
  pull_request:

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh

      - name: Run Trivy scan
        run: trivy fs --exit-code 1 --severity MEDIUM,HIGH,CRITICAL .
